.single-post__header {
  padding: 20px 0px;
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    a {
      font-style: 10px;
      color: gray;
      &:hover {
        color: black;
      }
    }
    p {
      font-style: 10px;
      margin-bottom: unset;
      color: gray;
    }
  }
}
.single-post__name {
  margin: 50px 0px;
  .container {
    text-align: center;
    h1 {
      margin-bottom: 20px;
    }
    p {
      color: gray;
    }
  }
}
.single-post__banner {
  .container {
    width: 80%;
    img {
      width: 100%;
    }
  }
}
.single-post__body--text1 {
  margin: 50px 0px;
  .container {
    width: 60%;
    h5 {
      padding: 20px 0px;
    }
    p {
      color: gray;
    }
    u {
      color: black;
    }
    b {
      color: black;
      font-weight: 400;
    }
  }
}
.single-post__body--img {
  margin: 30px 0px;
  .container {
    width: 80%;
    .row {
      display: flex;
      .body__img {
        img {
          width: 100%;
        }
      }
    }
  }
}
.single-post__body--text2 {
  margin: 30px 0px;
  .container {
    width: 50%;
    h5 {
      padding: 20px 0px;
    }
    .body__text2 {
      margin: 30px 0px;
      border-left: 3px solid #ff6f61;
      padding: 30px;
      h5 {
        font-weight: 400;
        line-height: 25px;
        padding: unset;
      }
      i {
        color: gray;
        font-style: 10px;
      }
      p {
        color: gray;
        font-style: 17px;
      }
    }
  }
}

.button__keyword {
  .container {
    width: 60%;
    margin: auto;
    .button__keyword--item {
      width: 140px;
      height: 41px;
      border: 1px solid gray;
      margin: 10px 15px;
      p {
        text-align: center;
        color: gray;
        margin-top: 6px;
        margin-bottom: unset;
        font-style: 12px;
      }
    }
  }
}
.button__social {
  margin: 40px 0px;
  .container {
    display: flex;
    width: 62%;
    .button__social--item {
      margin: 0px 30px;
      align-items: center;
      padding-left: 50px;
      display: flex;
      width: 250px;
      height: 56px;
      i {
        color: #fff;
        padding-right: 10px;
      }
      p {
        color: #fff;
        margin-bottom: unset;
      }
    }
  }
}
.single-post__post {
  .container {
    width: 80%;
    h2 {
      padding: 30px 0px;
      text-align: center;
    }
    .post-item {
      display: flex;
      .post-item__item {
        position: relative;
        padding: 20px;
        .post-item__item--img {
          img {
            width: 100%;
          }
        }
        h5 {
          padding: 20px 0px;
          color: black;
        }
        .post-item__item--sticker {
          background: #fff;
          position: absolute;
          top: 10%;
          width: 66px;
          height: 23px;
          p {
            font-weight: 500;
            color: black;
            margin-bottom: unset;
            padding-left: 4px;
          }
        }
      }
      // STYLE SLICK SLIDE
      .slick-dots {
        padding: unset;
        position: absolute;
        left: 46%;
        bottom: 0px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        button {
          font-size: 0px;
          padding: 0px;
          width: 13px;
          height: 13px;
          border-radius: 100px;
          border: none;
          outline: none;
        }
        .slick-active {
          button {
            background-color: #ff6f61;
            transition: all 0.2 linear;
          }
        }
        li {
          width: 50px;
        }
      }
    }
  }
}
.single-post__comment {
  padding: 30px 0px;
  .container {
    width: 50%;
    h2 {
      text-align: center;
      padding: 30px 0px;
    }
    .single-post__comment--user {
      padding: 30px;
      border-bottom: 1px solid gray;
      display: flex;
      .comment-user__img {
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .comment-user__text {
        margin-left: 50px;
        .text__header {
          padding-bottom: 10px;
          display: flex;
          justify-content: space-between;
          h6 {
            color: black;
            margin-bottom: unset;
          }
          a {
            color: gray;
            &:hover {
              color: black;
            }
          }
        }
        p {
          margin-bottom: 20px;
        }
        h6 {
          color: black;
        }
      }
    }
  }
}
.single-post__reply {
  padding-top: 30px;
  .container {
    width: 80%;
    h3 {
      color: black;
      text-align: center;
      padding-bottom: 10px;
    }
    p {
      text-align: center;
    }
    .container {
      width: 70%;
      input {
        padding: 10px;
        margin: 10px 0px;
      }
    }
  }
}
.single-post__reply--form {
  position: relative;
  .container {
    margin: auto;
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
  }
}
.single-post__reply--button {
  position: absolute;
  left: 42%;
  width: 200px;
  height: 50px;
  background: black;
  bottom: -110px;
  p {
    color: #fff;
    margin-bottom: unset;
    padding-top: 13px;
  }
}

@media only screen and (max-width: 1025px) {
  .button__social {
    .container {
      width: 100% !important;
      .button__social--item {
        padding-left: 36px !important;
        margin: 0px 10px !important;
      }
    }
  }
  .single-post__header,
  .single-post__name,
  .single-post__banner,
  .single-post__body--text1,
  .single-post__body--text2,
  .single-post__comment,
  .single-post__post,
  .single-post__reply {
    .container {
      width: 100%;
    }
  }
  .button__keyword {
    .container {
      width: 100% !important;
      .button__keyword--item {
        margin: 10px !important;
      }
    }
  }
  .single-post__reply--form {
    .container {
      width: 100% !important;
    }
  }
}
@media only screen and (max-width: 376px) {
  .single-post__header,
  .single-post__name,
  .single-post__banner,
  .single-post__body--text1,
  .single-post__body--text2,
  .single-post__comment,
  .single-post__post,
  .single-post__reply {
    .container {
      width: 90%;
    }
  }
  .single-post__reply--button {
    left: 23% !important;
  }
  .single-post__comment--user {
    padding: 5px 10px !important;
  }
  .text__header {
    display: block !important;
  }
  .post-item__item {
    padding: unset !important;
  }

  .button__social--item {
    p {
      display: none !important;
    }
  }
  .slick-dots {
    left: 33% !important;
    li {
      width: 20px;
    }
  }
}
