#fixed {
  position: fixed;
  bottom: 70%;
  right: 0;
  z-index: 100;
  width: 4.5%;
  font-weight: 100;
}
.fixed-2 {
  position: relative;
  text-align: center;
  width: 70px;
  height: 70px;
  background: black;
  border-radius: 5px;
  p {
    position: absolute;
    top: 10px;
    font-size: 16px;
    color: #fff;
    margin: unset;
    font-weight: 400;
  }
}
.fixed-1 {
  position: fixed;
  bottom: 2%;
  left: 1%;
  width: 209px;
  height: 36px;
  border-radius: 5px;
  background: #0072bc;
  border-radius: 5px;
  p {
    text-align: center;
    position: absolute;
    top: 6px;
    left: 23px;
    font-size: 14px;
    color: #fff;
    margin: unset;
    font-weight: 500;
  }
}
.to-top {
  background: black;
  position: fixed;
  bottom: 16px;
  right: 1%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  pointer-events: none;
  transform: translateX(90px);
  transition: all 0.5s ease-in-out;
}
.to-top.active {
  pointer-events: auto;
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1025px) {
  #fixed {
    height: 6% !important;
    width: 6% !important;
    display: none;
  }
  .fixed-2 {
    right: 35%;
  }
}
@media only screen and (max-width: 450px) {
  #fixed {
    display: none;
  }
}
