.about-us {
  .header-about-us {
    .container {
      width: 77%;
      padding: 10px 0px;
      display: flex;
      a {
        color: gray;
        font-style: 15px;
        margin-right: 4px;
        &:hover {
          color: black;
        }
      }
      p {
        color: gray;
        font-style: 15px;
        margin-bottom: unset;
      }
    }
  }
  .header-banner {
    width: 77%;
    margin: auto;
    .container {
      background-image: url(../images/img_about-us/about-us-banner.jpg);
      margin-bottom: 90px;
      .banner-text {
        padding: 155px;
        h2 {
          text-align: center;
          color: #fff;
        }
      }
    }
  }
  .about-store {
    .container {
      width: 77%;
      padding-bottom: 40px;
      margin: auto;
      .about-img {
        img {
          padding: 15px;
          width: 100%;
        }
      }
      .about-text {
        padding: 60px 50px;
        h5 {
          color: gray;
          font-style: 14px;
          font-weight: 500;
        }
        h1 {
          color: black;
        }
        p {
          color: gray;
          font-style: 35px;
          line-height: 30px;
          font-weight: 400;
          margin-bottom: unset;
        }
      }
    }
  }
  .about-fashion {
    background: #f5f5f5;
    padding: 30px 0px;
    .container {
      width: 77%;
      padding: 50px 0px;
      h2 {
        text-align: center;
        color: black;
      }
      .fashion-text {
        display: flex;
        padding: 30px;
        .fashion-text-1 {
          padding: 20px;
          p {
            color: gray;
            font-style: 25px;
            line-height: 25px;
          }
        }
      }
      .fashion-button {
        position: absolute;
        left: 42%;
        background: black;
        width: 230px;
        height: 56px;
        p {
          text-align: center;
          padding-top: 15px;
          color: #fff;
          font-weight: 500;
          font-style: 20px;
        }
      }
    }
  }
  .about-story {
    padding: 30px 0px;
    .container {
      width: 77%;
      margin: auto;
      .story-text {
        padding: 60px;
        h5 {
          color: gray;
          font-style: 14px;
          font-weight: 500;
        }
        h1 {
          color: black;
        }
        p {
          color: gray;
          font-style: 35px;
          line-height: 30px;
          font-weight: 400;
        }
      }
      .story-img {
        img {
          width: 100%;
        }
      }
    }
  }
  .about-text {
    padding: 30px 0px;
    .container {
      padding: 40px;
      width: 77%;
      background: #ff7062;
      h4 {
        text-align: center;
        padding: 60px 100px;
        color: #fff;
        line-height: 35px;
        font-weight: 500;
      }
    }
  }
  .about-content-img {
    .container {
      width: 77%;
      .row {
        display: flex;
        .content-img {
          img {
            width: 100%;
            padding: 10px 0px;
          }
        }
      }
    }
  }
  .about-review {
    padding: 30px 0px;
    .container {
      width: 77%;
      height: 200px;
      text-align: center;
      h5 {
        color: gray;
        font-weight: 500;
      }
      h2 {
        color: black;
      }
      .autoplay {
        height: 150px;
        .review-item {
          .container {
            width: 50%;
            i {
              text-align: center;
              color: black;
              font-style: 30px;
              line-height: 30px;
              font-weight: 400;
              margin-bottom: 20px;
            }
            p {
              margin-bottom: unset;
              padding-top: 10px;
              color: gray;
              font-style: 10px;
              line-height: 10px;
            }
          }
        }
        .slick-dots {
          padding: unset;
          position: absolute;
          left: 44%;
          bottom: -23%;
          display: flex !important;
          align-items: center;
          justify-content: center;
          margin: unset;
          li {
            padding: 0px 10px;
            button {
              font-size: 0px;
              padding: 0px;
              width: 13px;
              height: 13px;
              border-radius: 100px;
              border: none;
              outline: none;
              background-color: gray;
            }
          }
          .slick-active {
            button {
              background-color: #ff6f61;
              transition: all 0.2 linear;
            }
          }
          li.slick-active::marker {
            display: none !important;
          }
        }
      }
    }
  }
  .about-bottom-img {
    margin-top: 50px;
    position: relative;
    .container {
      ul {
        padding-left: unset;
        margin: unset;
        li {
          list-style: none;
          margin: unset;
          padding: unset;
          img {
            width: 100%;
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
    .bottom-img-button {
      top: 44%;
      left: 43%;
      position: absolute;
      width: 200px;
      height: 56px;
      background: black;
      p {
        text-align: center;
        color: #fff;
        font-style: 25px;
        font-weight: 500;
        margin-bottom: unset;
        padding-top: 14px;
      }
    }
  }
  .body-ship {
    padding-top: 30px;
    .container {
      border-bottom: 1px solid gray;
      margin: auto;
      .body-ship-item {
        display: flex;
        img {
          width: 15%;
        }
        span {
          margin-top: 9px;
          margin-left: 20px;
          h5 {
            color: black;
            font-size: 15px;
            line-height: 22px;
            margin-bottom: unset;
          }
          p {
            color: gray;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
.about-hiden {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .about-hiden {
    display: block !important;
  }
  .header-banner {
    width: 100% !important;
  }
  .about-fashion {
    .container {
      width: 100% !important;
      margin-bottom: 30px;
      .fashion-button {
        left: 34% !important;
      }
    }
  }
  .about-store {
    .container {
      width: 100% !important;
      padding-bottom: unset !important;
      .about-img {
        img {
          padding: 20px 12px !important;
        }
      }
      .about-text {
        padding: 12px !important;
      }
    }
  }
  .about-story {
    margin: 30px 0px;
    padding: unset !important;
    .container {
      width: 100% !important;
      .story-text {
        padding: 0px 12px !important;
        p {
          margin-bottom: unset;
        }
      }
      .story-img {
        padding: 20px 12px !important;
      }
    }
  }
  .about-text {
    padding: unset !important;
    width: 100% !important;
    .container {
      width: 100% !important;
      padding: unset !important;
    }
  }
  .about-review {
    padding: 50px 0px 100px 0px !important;
    .container {
      width: 90% !important;
    }
  }
  .about-fashion {
    .container {
      .fashion-text {
        padding: unset !important;
      }
    }
  }
  .about-content-img {
    .container {
      width: 100% !important;
    }
  }
  .about-bottom-img {
    .bottom-img-button {
      top: 46% !important;
      left: 37% !important;
    }
  }
}
@media only screen and (max-width: 450px) {
  .header-about-us {
    .container {
      width: 90% !important;
    }
  }
  .about-hiden {
    display: none !important;
  }
  .about-fashion {
    .container {
      width: 100% !important;
      .fashion-button {
        left: 19% !important;
      }
      .fashion-text {
        .fashion-text-1 {
          padding: 5px 20px !important;
        }
      }
    }
  }
  .about-text {
    .container {
      h4 {
        padding: 20px 10px !important;
      }
    }
  }
  .about-review {
    .slick-dots {
      left: 34% !important;
      bottom: -70% !important;
    }
  }
  .about-bottom-img {
    .bottom-img-button {
      top: 47% !important;
      left: 23% !important;
    }
  }
  .header-banner {
    .container {
      .banner-text {
        padding: 46px !important;
      }
    }
  }
  .about-content-img {
    .container {
      width: 95% !important;
    }
  }
}
