.body-sale {
  .body-sale-text {
    height: 52px;
    background-image: url(../images/img_razzi/bg_cam.jpg);
    p {
      margin-bottom: unset;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      padding-top: 14px;
    }
  }
  .body-sale-content {
    display: flex;
    .body-sale-item {
      position: relative;
      .sale-img {
        img {
          filter: brightness(60%);
          width: 100%;
          &:hover {
            filter: brightness(80%);
          }
        }
      }
      .sale-text {
        h2 {
          position: absolute;
          top: 40%;
          left: 37%;
          color: #fff;
          font-size: 40px;
          font-weight: 500;
        }
        button {
          border-radius: 5px;
          position: absolute;
          bottom: 10%;
          left: 23%;
          background: #fff;
          width: 200px;
          height: 50px;
          text-align: center;
          border: none;
          color: #fff;
          p {
            font-size: 15px;
            font-weight: 500;
            line-height: 15px;
            color: black;
            margin: unset;
            i {
              margin-left: 5px;
              font-size: 12px;
            }
          }
        }
      }
      &:hover i {
        transform: translateX(5px);
      }
    }
    .slick-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #c7c1bc;
      color: white;
      border: none;
      z-index: 10;
    }
    .slick-next {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: #c7c1bc;
      color: white;
      border: none;
      z-index: 10;
    }
    button {
      height: 50px;
      width: 20px;
      i {
        color: gray;
      }
    }
  }
}
.body-ship {
  padding-top: 30px;
  .container {
    border-bottom: 1px solid gray;
    margin: auto;
    .body-ship-item {
      display: flex;
      img {
        width: 15%;
      }
      span {
        margin-top: 9px;
        margin-left: 20px;
        h5 {
          color: black;
          font-size: 15px;
          line-height: 22px;
          margin-bottom: unset;
        }
        p {
          color: gray;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}
.body-collection {
  margin-top: 150px;
  .container {
    margin: auto;
    .body-collection-text {
      text-align: center;
      margin-bottom: 50px;
      h5 {
        color: gray;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      h3 {
        color: black;
        font-size: 40px;
        font-weight: 600;
        line-height: 23px;
        margin-bottom: 40px;
      }
      p {
        color: gray;
        font-size: 13px;
        font-weight: 400;
      }
    }
    .body-collection-content {
      .collection-content-item {
        padding: 15px;
        position: relative;
        .collection-content-item-img-1 {
          overflow: hidden;
          border-radius: 10px;
          img {
            width: 100%;
          }
        }
        .collection-content-item-img-2 {
          overflow: hidden;
          border-radius: 10px;
          img {
            width: 100%;
          }
        }
        .collection-content-item-text {
          position: absolute;
          top: 40%;
          h3 {
            color: #fff;
            font-size: 30px;
            font-weight: 500;
          }
          p {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            i {
              color: #fff;
              font-size: 10px;
              margin-left: 10px;
            }
          }
        }
        &:hover img {
          transform: scale(1.05);
          transition: all 0.2s linear;
        }
        &:hover i {
          transform: translateX(5px);
          transition: all 0.2s linear;
        }
      }
    }
  }
}
.body-sellers {
  margin-top: 73px;
  .container {
    margin: auto;
    h3 {
      text-align: center;
      color: black;
      font-size: 36px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 50px;
    }
    .mt-3 {
      ul {
        justify-content: center;
        margin-bottom: 40px;
        li {
          position: relative;
          a {
            font-size: 17px;
            font-weight: 500;
            color: black;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 1;
              background: #ff6f61;
              width: 0%;
              height: 3%;
              transition: all 0.3s ease-in-out;
            }
            &:hover {
              color: #ff6f61;
            }
            &:hover::before {
              width: 70%;
            }
          }
        }
      }
      .nav-tabs .nav-link {
        border: unset;
      }
      .tab-content {
        ul {
          padding: unset;
          .body-sellers-content {
            position: relative;
            list-style: none;
            margin-bottom: 30px;
            .sellers-content-img {
              position: relative;
              .sellers-content-imga {
                position: absolute;
                opacity: 1;
                top: 0%;
                img {
                  width: 100%;
                }
              }
              .sellers-content-imgb {
                opacity: 0;
                img {
                  width: 100%;
                }
              }
            }
            .seller-hover {
              position: absolute;
              bottom: 28%;
              left: 21%;
              opacity: 0;
              justify-content: space-around;
              ul {
                display: flex;
                margin: unset;
                li {
                  list-style: none;
                  margin: unset;
                  margin: 0px 10px;
                  .seller-hover-icon {
                    background: #fff;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    position: relative;
                    i {
                      position: absolute;
                      font-size: 17px;
                      top: 34%;
                      left: 27%;
                    }
                    &:hover {
                      background: #ff6f61;
                      i {
                        color: #fff;
                      }
                    }
                    .seller-hover-icon-name {
                      opacity: 0;
                      position: absolute;
                      top: -38px;
                      left: -24px;
                      width: 100px;
                      height: 25px;
                      background: black;
                      border-radius: 5px;
                      p {
                        text-align: center;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 20px;
                        margin-bottom: unset;
                        color: #fff;
                      }
                      &::after {
                        content: "";
                        position: absolute;
                        left: 41%;
                        top: 20px;
                        width: 10px;
                        height: 10px;
                        background: black;
                        transform: rotate(45deg);
                      }
                    }
                    &:hover .seller-hover-icon-name {
                      opacity: 1;
                      transition: all 0.3s ease-in;
                    }
                  }
                }
              }
            }
            .sellers-content-text {
              margin-top: 15px;
              text-align: left;
              p {
                color: gray;
                font-size: 13px;
                font-weight: 500;
                line-height: 21px;
                cursor: pointer;
                margin-bottom: 5px;
              }
              h4 {
                color: black;
                font-size: 17px;
                font-weight: 500;
                line-height: 17px;
              }
              h5 {
                color: gray;
                font-weight: 500;
                font-size: 16px;
              }
              span {
                display: flex;
                h5 {
                  font-size: 16px;
                  text-decoration: line-through;
                  margin-left: 5px;
                  color: gray;
                  font-weight: 500;
                  font-size: 14px;
                }
              }
            }
            .body-sellers-stick {
              .sellers-stick-sale {
                position: absolute;
                top: 5%;
                left: 4%;
                width: 50px;
                height: 22px;
                background: black;
                p {
                  text-align: center;
                  margin: unset;
                  color: #fff;
                  font-size: 13px;
                  font-weight: 500;
                }
              }
              .sellers-stick-new {
                position: absolute;
                top: 5%;
                left: 4%;
                width: 50px;
                height: 22px;
                background: #fff;
                p {
                  text-align: center;
                  margin: unset;
                  color: black;
                  font-size: 13px;
                  font-weight: 500;
                }
              }
              .sellers-stick-hot {
                position: absolute;
                top: 11%;
                left: 4%;
                width: 50px;
                height: 22px;
                background: #ff6f61;
                p {
                  text-align: center;
                  margin: unset;
                  color: #fff;
                  font-size: 13px;
                  font-weight: 500;
                }
              }
              .sellers-stick-soldout {
                position: absolute;
                top: 5%;
                left: 4%;
                width: 70px;
                height: 22px;
                background: gray;
                p {
                  text-align: center;
                  margin: unset;
                  color: #fff;
                  font-size: 13px;
                  font-weight: 500;
                }
              }
            }
            .shop-content-item-cart {
              display: none;
              width: 100%;
              height: 40px;
              background: black;
              border-radius: 5px;
              p {
                text-align: center;
                color: #fff;
                margin-bottom: unset;
                font-style: 20px;
                line-height: 20px;
                font-weight: 500;
                padding-top: 10px;
              }
            }
            .sellers-content-mobile {
              display: none;
              .content__mobile--eye {
                position: absolute;
                top: 5%;
                right: 10%;
              }
              .content__mobile--heart {
                position: absolute;
                top: 13%;
                right: 10%;
              }
            }
            &:hover .sellers-content-img {
              .sellers-content-imga {
                opacity: 0;
                transition: all 0.3s ease-in;
              }
              .sellers-content-imgb {
                opacity: 1;
              }
            }
            &:hover .seller-hover {
              opacity: 1;
              transition: all 0.4s ease-in;
            }
          }
        }
      }
    }
    .textmore {
      p {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 45%;
          background: black;
          width: 10%;
          height: 3%;
          transition: all 0.1s ease-out;
        }
        &:hover::before {
          width: 0%;
        }
      }
    }
  }
}
.body-time {
  margin-top: 100px;
  .body-time-content {
    position: relative;
    .time-content-img {
      img {
        width: 100%;
        max-height: 550px;
      }
    }
    .time-content-content {
      position: absolute;
      top: 15%;
      left: 48%;
      .time-content-item {
        h2 {
          color: black;
          font-size: 30px;
          line-height: 35px;
          font-weight: 500;
          line-height: 35px;
          margin-bottom: unset;
        }
      }
      .droptime {
        p {
          width: 400px;
          margin: unset;
          color: #ff6f61;
          text-align: center;
          font-size: 51px;
          margin-top: 0px;
          font-weight: 700;
        }
      }
      .droptime-update {
        ul {
          margin: unset;
          padding: unset;
          display: flex;
          li {
            list-style: none;
            margin: 0px 24px;
            p {
              margin: unset;
              color: gray;
              font-size: 15px;
              font-weight: 500;
              line-height: 20px;
            }
          }
        }
      }
      .time-content-shop {
        margin-top: 40px;
        border-radius: 5px;
        width: 185px;
        height: 55px;
        background: #1f1f1f;
        p {
          margin: unset;
          padding-top: 11px;
          color: #fff;
          text-align: center;
          font-size: 20px;
          font-weight: 500;
          i {
            color: #fff;
          }
        }
      }
    }
  }
  // STYLE BUTTON NEXT
  .slick-prev {
    position: absolute;
    top: 47%;
    left: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    z-index: 10;
  }
  .slick-next {
    position: absolute;
    top: 47%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    z-index: 10;
  }
  button {
    height: 40px;
    width: 40px;
    i {
      font-size: 20px;
      color: gray;
    }
    &:hover {
      background: #fff;
    }
  }
}
.body-review {
  .container {
    .body-review-text {
      text-align: center;
      margin: 90px 0px 80px 0px;
      h4 {
        color: #a0a0a0;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 20px;
      }
      h3 {
        color: black;
        line-height: 23px;
        font-size: 35px;
      }
    }
    .body-review-content {
      .review-image-slider {
        padding: unset;
        display: flex;
        padding-bottom: 90px;
        li {
          list-style: none;
          padding: 20px;
          .review-content-item {
            border: 2px solid gray;
            border-radius: 10px;
            padding: 20px;
            .content-item-header {
              margin-bottom: 10px;
              display: flex;
              .content-item-header-img {
                img {
                  width: 100%;
                }
              }
              .content-item-header-text {
                margin-top: 15px;
                margin-left: 20px;
                h5 {
                  color: gray;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 12px;
                  margin-bottom: unset;
                }
                h4 {
                  color: black;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 16px;
                  margin-bottom: unset;
                }
                .item-star {
                  .fa-star {
                    color: #f8b86d;
                    font-size: 10px;
                    line-height: 21px;
                  }
                  .checked {
                    color: #cdcdcd;
                    font-size: 10px;
                    line-height: 21px;
                  }
                }
              }
            }
            .content-item-bottom {
              .content-item-bottom-text {
                h5 {
                  font-size: 16px;
                  color: #525252;
                  line-height: 24px;
                  font-weight: 400;
                }
                p {
                  color: #767676;
                  font-size: 14px;
                  line-height: 15px;
                }
              }
            }
          }
        }
        // STYLE SLICK SLIDE
        .slick-dots {
          padding: unset;
          position: absolute;
          left: 46%;
          bottom: 40px;
          display: flex !important;
          align-items: center;
          justify-content: center;
          button {
            font-size: 0px;
            padding: 0px;
            width: 13px;
            height: 13px;
            border-radius: 100px;
            border: none;
            outline: none;
          }
          .slick-active {
            button {
              background-color: #ff6f61;
              transition: all 0.2 linear;
            }
          }
        }
      }
    }
  }
}
.body-scheme {
  background: #f5f5f5;
  height: 359px;
  .container {
    margin: auto;
    .scheme-text {
      padding: 70px 0px 40px 0px;
      text-align: center;
      h3 {
        color: #ff6f61;
        font-size: 40px;
        margin-bottom: 18px;
      }
      p {
        color: gray;
        font-weight: 400;
      }
    }
    ul {
      padding: unset;
      li {
        list-style: none;
        padding: 10px;
        img {
          width: 100%;
        }
      }
    }
  }
}
.body-branch {
  padding: 150px 0px 50px 0px;
  .container {
    margin: auto;
    .branch-item {
      display: flex;
      justify-content: space-around;
      padding: unset;
      margin: unset;
      li {
        margin: 0px 40px;
        list-style: none;
        img {
          padding: 17px;
          width: 100%;
          &:hover {
            transform: translateY(-7px);
            transition: all 0.2s ease-in;
          }
        }
      }
      .slick-dots {
        padding: unset;
        position: absolute;
        left: 46%;
        bottom: 40px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        button {
          font-size: 0px;
          padding: 0px;
          width: 13px;
          height: 13px;
          border-radius: 100px;
          border: none;
          outline: none;
        }
        .slick-active {
          button {
            background-color: #ff6f61;
            transition: all 0.2 linear;
          }
        }
      }
    }
  }
}
// CSS MODAL CART SELLERS
.modal-cart-sellers {
  .modal-dialog {
    height: auto;
    max-width: none;
    width: 50%;
    .modal-content {
      padding: 15px;
      .modal-header {
        border-bottom: unset;
        position: relative;
        button {
          position: absolute;
          right: 3%;
        }
      }
      .modal-body {
        display: flex;
        padding: 0px 20px 40px 20px;
        justify-content: space-around;
        .modal-body-cart-content {
          h4 {
            color: black;
            font-size: 20px;
            line-height: 15px;
          }
          .modal-body-cart-content-item {
            display: flex;
            margin-top: 25px;
            img {
              width: 49%;
            }
            span {
              margin-top: 40px;
              margin-left: 13px;
              h4 {
                font-size: 15px;
                font-weight: 500;
                line-height: 15px;
              }
              h5 {
                font-size: 15px;
                color: gray;
                font-weight: 400;
              }
            }
          }
        }
        .modal-body-cart-payment {
          border-left: 1px solid #d8d8d8;
          h4 {
            color: gray;
            font-size: 14px;
            line-height: 15px;
          }
          .modal-body-cart-payment-money {
            display: flex;
            margin: 30px 0px;
            justify-content: space-around;
            h5 {
              font-size: 17px;
              line-height: 15px;
              font-weight: 500;
            }
          }
          .modal-body-cart-payment-button {
            margin-left: 24px;
            .cart-payment-button {
              border-radius: 5px;
              width: 290px;
              height: 54px;
              border: 1px solid black;
              p {
                text-align: center;
                margin: unset;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
                margin-top: 14px;
              }
            }
          }
        }
      }
      .modal-footer {
        border-top: 1px solid #d8d8d8;
        padding-top: 20px;
        display: block !important;
        h4 {
          font-size: 19px;
        }
        .modal-footer-cart-slick {
          .modal-footer-cart-slick-item {
            padding: 10px;
            .modal-footer-cart-slick-item-img {
              img {
                width: 100%;
              }
            }
            .modal-footer-cart-slick-item-text {
              padding-top: 10px;
              h4 {
                font-size: 14px;
                font-weight: 500;
                line-height: 15px;
              }
            }
          }
          button {
            border: unset !important;
            background: unset !important;
            i {
              color: #d0d0d0 !important;
              font-size: 16px;
            }
            &:hover i {
              color: black !important;
            }
          }
          .slick-next {
            position: absolute;
            top: -10%;
            right: 5%;
          }
          .slick-prev {
            position: absolute;
            top: -10%;
            left: 87%;
          }
          .slick-dots {
            padding: unset;
            position: absolute;
            left: 46%;
            bottom: -14%;
            display: flex !important;
            align-items: center;
            justify-content: center;
            button {
              font-size: 0px;
              padding: 0px;
              width: 13px;
              height: 13px;
              border-radius: 100px;
              border: none;
              outline: none;
            }
            .slick-active {
              button {
                background-color: #ff6f61;
                transition: all 0.2 linear;
              }
            }
          }
        }
      }
    }
  }
}
// CSS MODAL VIEW SELLERS
.modal-view-sellers {
  .modal-dialog {
    height: 100%;
    max-width: none;
    width: 80%;
    .modal-content {
      padding: 10px;
      .modal-header {
        border: unset;
        padding: unset;
      }
      .modal-body {
        .modal-body-view {
          display: flex;
          .modal-view-img {
            .body-view-img-slick {
              .body-view-img-item {
                img {
                  width: 100%;
                }
              }
              button {
                display: none !important;
                z-index: 20;
                padding: 10px;
                border: unset !important;
                background: #fff !important;
                i {
                  color: #d0d0d0 !important;
                  font-size: 15px;
                }
                &:hover i {
                  color: black !important;
                }
                &:hover {
                  background: transparent !important;
                }
              }
              .slick-next {
                position: absolute;
                top: 45%;
                right: 1%;
              }
              .slick-prev {
                position: absolute;
                top: 45%;
                left: 1%;
              }
            }
            .body-view-img-text {
              width: 100%;
              background: #ff6f61;
              padding-top: -60px;
              p {
                text-align: center;
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                color: #fff;
                margin-bottom: unset;
                padding: 14px;
                i {
                  color: #fff;
                }
              }
            }
            &:hover button {
              display: block !important;
            }
          }
          .modal-view-content {
            padding: 30px;
            .modal-view-content-start {
              margin: 10px 0px;
              position: relative;
              display: flex;
              .fa-star {
                color: black;
                font-size: 15px;
              }
              p {
                position: absolute;
                top: -5px;
                left: 16%;
                font-style: 15px;
                font-weight: 400;
                margin-bottom: unset;
              }
            }
            .modal-view-content-name {
              h3 {
                padding: 13px 0px;
                color: black;
                font-weight: 500;
                line-height: 15px;
                font-style: 25px;
                margin-bottom: 15px;
                margin: unset;
                h4 {
                  font-style: 5px;
                }
              }
              p {
                padding: 20px 0px;
                margin-bottom: unset;
                color: black;
                font-size: 17px;
                font-weight: 300;
              }
            }
            .modal-view-content-button {
              // position: relative;
              button {
                margin: 10px 20px 10px 0px;
                width: 200px;
                height: 56px;
                p {
                  margin-bottom: unset;
                  text-align: center;
                }
              }
              i {
                top: 24px;
                font-size: 39px;
              }
            }
            .modal-view-content-name2 {
              p {
                color: gray;
                font-style: 8px;
                font-weight: 400;
                margin-bottom: unset;
              }
            }
          }
        }
      }
    }
  }
}
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
  font-size: 10px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 52em;
  .modal-content1__body {
    display: flex;
    .modal-content1__body--img {
      img {
        width: 100%;
      }
    }
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
// STYLE CSS ALL
@media only screen and (max-width: 1025px) {
  .body-time {
    .time-content-content {
      top: 0 !important;
      left: 29% !important;
      .time-content-item {
        margin-left: 58px;
      }
      .time-content-shop {
        margin-left: 74px;
      }
    }
  }
  .body-branch {
    margin-top: 230px !important;
    .slick-dots {
      left: 36% !important;
      bottom: -25px !important;
    }
  }
  // STYLE MODAL
  .modal-dialog {
    width: 80% !important;
    .modal-body {
      .modal-body-cart-payment {
        padding-left: 44px !important;
        .modal-body-cart-payment-button {
          margin-left: -10px !important;
          .cart-payment-button {
            width: 240px !important;
          }
        }
      }
    }
  }
  .modal-body-cart-content-item {
    display: block !important;
    img {
      width: 70% !important;
    }
    span {
      margin-top: 0px;
      margin-left: 0px;
      text-align: left;
      margin-left: 10px;
    }
  }
  .shop-content-item-cart {
    display: block !important;
  }
  .sellers-content-mobile {
    display: block !important;
  }
  .modal-view-content-button {
    button {
      width: 146px !important;
    }
    i {
      font-size: 25px !important;
    }
  }
}
@media only screen and (max-width: 450px) {
  .body-ship-item {
    display: block !important;
    img {
      margin-left: 50px;
      width: 30% !important  ;
      margin-bottom: 10px;
    }
    span {
      text-align: center;
      margin-top: 9px;
      margin-left: 20px;
      h5 {
        color: black;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: unset;
      }
      p {
        color: gray;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  .body-sellers-stick {
    .sellers-stick-sale {
      position: absolute;
      top: 5%;
      left: 7% !important;
      width: 34px !important;
      height: 20px !important;
      background: black;
      p {
        text-align: center;
        margin: unset;
        color: #fff;
        font-size: 10px !important;
        font-weight: 500;
      }
    }
    .sellers-stick-new {
      position: absolute;
      top: 5%;
      left: 7% !important;
      width: 34px !important;
      height: 20px !important;
      background: #fff;
      p {
        text-align: center;
        margin: unset;
        color: black;
        font-size: 10px !important;
        font-weight: 500;
      }
    }
    .sellers-stick-hot {
      position: absolute;
      top: 13% !important;
      left: 7% !important;
      width: 34px !important;
      height: 20px !important;
      background: #ff6f61;
      p {
        text-align: center;
        margin: unset;
        color: #fff;
        font-weight: 500;
        font-size: 10px !important;
      }
    }
    .sellers-stick-soldout {
      position: absolute;
      top: 5%;
      left: 7% !important;
      width: 70px;
      height: 20px !important;
      background: gray;
      p {
        text-align: center;
        margin: unset;
        color: #fff;
        font-size: 10px !important;
        font-weight: 500;
      }
    }
  }
  .body-review {
    margin-bottom: unset !important;
  }
  .body-branch {
    margin-top: 300px !important;
    .slick-dots {
      left: 55%;
      bottom: -27px;
      display: flex !important;
      li {
        margin: 0px 10px !important;
      }
    }
  }
  // STYLE MODAL
  .modal-dialog {
    width: 80% !important;
    .modal-body {
      .modal-body-cart-payment {
        margin-top: 20px;
        padding-left: unset !important;
        border-left: unset !important;
        .modal-body-cart-payment-button {
          margin-left: -10px !important;
        }
      }
    }
  }
  .modal-body-cart-content-item {
    img {
      margin-left: 34px !important;
      width: 70% !important;
    }
  }
  .shop-content-item-cart {
    display: block !important;
  }
  .sellers-content-mobile {
    display: block;
  }
  .mt-3 {
    padding: 0px 20px !important;
  }
  .modal-view-content-start {
    p {
      left: 66% !important;
    }
  }
  .modal-view-content-button {
    button {
      width: 100% !important;
    }
    i {
      display: none !important;
    }
  }
  .seller-hover {
    top: 44%;
    right: 24%;
  }
  .seller-hover-icon {
    width: 30px !important;
    height: 30px !important;
    i {
      position: absolute;
      font-size: 14px;
      top: 24%;
      left: 22%;
    }
  }
}
