#t-shirts {
  .t-shirts-content {
    margin: auto;
    .container {
      .header-navbar {
        padding: 20px 0px;
        p {
          color: gray;
          font-style: 14px;
          margin-bottom: unset;
        }
      }
      .header-content {
        margin-bottom: 100px;
        .row {
          .header-content-left {
            .header-content-img {
              .content-img {
                img {
                  width: 100%;
                }
              }
            }
            .header-content-img-tab {
              .content-img-tab {
                padding: 10px 0px 0px 20px;
                img {
                  width: 100%;
                }
              }
            }
          }
          .header-content-right {
            padding: 0px 60px;
            .content-right-review {
              display: flex;
              justify-content: space-between;
              padding-bottom: 30px;
              .content-right-review-text {
                p {
                  margin-bottom: unset;
                  color: gray;
                  font-style: 16px;
                }
              }
              .content-right-review-star {
                .fa-star {
                  font-style: 16px;
                  color: gray;
                }
                .checked {
                  color: black;
                }
              }
            }
            .content-right-name {
              position: relative;
              h3 {
                margin-bottom: unset;
                font-style: 28px;
                font-weight: 500;
                line-height: 15px;
              }
              h5 {
                position: absolute;
                top: 22%;
                left: 23%;
                font-style: 7px;
                color: gray;
                font-weight: 400;
                margin-bottom: unset;
              }
              p {
                margin-top: 20px;
                color: gray;
                font-style: 15px;
                font-weight: 400;
              }
              span {
                display: flex;
                position: relative;
                margin: 20px 0px;
                i {
                  font-style: 14px;
                }
                p {
                  position: absolute;
                  text-decoration: solid;
                  font-weight: 400;
                  font-style: 15px;
                  margin: unset;
                  top: -5px;
                  left: 8%;
                }
              }
            }
            .content-right-button {
              padding: 20px 0px;
              display: flex;
              .right-button {
                width: 250px;
                height: 58px;
                border: 1px solid gray;
                margin: 0px 20px 0px 0px;
                p {
                  text-align: center;
                  margin-bottom: unset;
                  font-style: 20px;
                  font-weight: 500;
                  margin-top: 15px;
                  i {
                    margin: 0px 10px;
                    background: #fff;
                    width: 17px;
                    height: 16px;
                    border-radius: 50%;
                    &:hover {
                      background: #dcdcdc;
                      color: gray;
                    }
                  }
                }
              }
              .right-button-1 {
                width: 250px;
                height: 58px;
                border: 1px solid gray;
                margin: 0px 20px 0px 0px;
                display: none;
                .button-1-a {
                  text-align: center;
                  display: flex;
                  i {
                    font-style: 20px;
                    color: black;
                  }
                  p {
                    font-style: 20px;
                    color: black;
                  }
                }
              }
              .right-button-2 {
                i {
                  font-style: 29px;
                  margin-top: 13px;
                }
              }
            }
            .content-right-name2 {
              p {
                font-style: 12px;
                margin-bottom: unset;
                color: gray;
              }
            }
            .content-right-social {
              display: flex;
              padding: 20px 0px;
              p {
                color: black;
                font-style: 13px;
                margin-bottom: unset;
                margin-right: 20px;
              }
              .content-right-social-item {
                position: relative;
                padding: 0px 15px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: gray;
                margin: 0px 10px;
                i {
                  position: absolute;
                  color: #d3d3d3;
                  top: 28%;
                  left: 27%;
                }
                &:hover {
                  background: black;
                  i {
                    color: #fff;
                  }
                }
              }
            }
            .content-right-name3 {
              p {
                font-style: 13px;
                font-weight: 400;
                line-height: 15px;
                margin-bottom: unset;
                color: gray;
                padding: 10px 0px;
                i {
                  margin-right: 10px;
                  font-weight: 400;
                }
              }
              .content-right-name3-img {
                position: relative;
                border: 1px solid gray;
                height: 80px;
                p {
                  position: absolute;
                  font-weight: 500;
                  font-style: 10px;
                  color: black;
                  background: #fff;
                  padding: unset;
                  left: 33%;
                  padding: unset;
                  top: -9px;
                }
                img {
                  padding: 10px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .body-selected {
        .container {
          position: relative;
          border-bottom: 1px solid gray;
          .tab {
            top: -44px;
            position: absolute;
            left: 13%;
            padding: 10px 0px;
            overflow: hidden;
            .tablinks {
              margin: 0px 50px;
              text-align: center;
              float: left;
              border: none;
              outline: none;
              cursor: pointer;
              transition: 0.3s;
              font-size: 17px;
              p {
                margin: unset;
              }
              &:hover {
                color: #ff6f61;
              }
              &.active {
                color: #ff6f61;
              }
            }
          }
        }
        .tab-content {
          padding-top: 60px;
          max-width: 790px;
          margin: auto;
          #slot1 {
            display: none;
            .tabcontent-description {
              p {
                color: gray;
                font-style: 15px;
                line-height: 25px;
              }
              .description-text {
                padding: 20px 0px 5px 0px;
                .description-text-a {
                  padding: 10px 0px;
                  display: flex;
                  .text-color {
                    color: black;
                    font-style: 10px;
                    line-height: 10px;
                    margin: unset;
                  }
                  p {
                    padding-left: 10px;
                    color: gray;
                    font-style: 10px;
                    line-height: 10px;
                    margin: unset;
                  }
                }
              }
            }
          }
          #slot2 {
            table {
              width: 100%;
              tbody {
                tr {
                  padding: 10px;
                  border: 1px solid gray;
                  th {
                    padding: 10px 20px;
                    width: 50%;
                    border-right: 1px solid gray;
                    p {
                      margin-bottom: unset;
                    }
                  }
                  td {
                    padding: 10px 20px;
                    width: 50%;
                    p {
                      margin-bottom: unset;
                    }
                  }
                }
              }
            }
          }
          #slot3 {
            .review {
              display: flex;
              justify-content: space-between;
              padding: 30px;
              border: 1px solid gray;
              .content {
                display: flex;
                position: relative;
                .content-img {
                  img {
                    width: 100%;
                    border-radius: 50%;
                  }
                }
                .content-text {
                  width: 200px;
                  position: absolute;
                  left: 130%;
                  top: 11px;
                  p {
                    color: gray;
                    font-style: 10px;
                    line-height: 14px;
                  }
                  h5 {
                    color: black;
                    font-style: 14px;
                  }
                }
              }
              .star {
                .fa-star {
                  color: gray;
                  font-style: 10px;
                }
                .checked {
                  color: black;
                  font-style: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .content-right-review {
    display: block !important;
  }
  .content-right-name {
    h5 {
      top: 19% !important;
      left: 31% !important;
    }
  }
  .content-right-name3 {
    p {
      font-style: 15px !important;
    }
    .content-right-name3-img {
      p {
        left: 22% !important;
      }
    }
  }
  .header-content-right {
    padding: unset !important;
    .content-right-button {
      display: block !important;
      .right-button {
        margin: 10px 0px !important;
        width: 100% !important;
      }
      .right-button-1 {
        display: block !important;
        width: 100% !important;
        position: relative;
        .button-1-a {
          position: absolute;
          align-items: center;
          left: 39%;
          top: 26%;
          p {
            margin-left: 10px;
            font-style: 20px;
            font-weight: 500;
            margin-bottom: unset;
          }
        }
      }
      .right-button-2 {
        display: none;
      }
    }
  }
}
